<div class = "finregistro-container">
    <body>
        <section class="fondoTexto">
            <header class="header">
                <div class="ventana-emergente">
                    <button class="boton-cerrar" onclick="cerrarVentana()">X</button>
                </div>
                <div class="espacio"></div>
            </header>
            <section class="bordeTexto">
                <header class="titulo">
                    <img src="/front/src/app/assets/logofondoblanco.jpg" width="60" class="logo">
                    <h1 id="titulo">ESPACIOS BOLIVIA</h1>
                </header>
                <section class="mensaje">
                    <p class="texto">REGISTRO DEL USUARIO REALIZADO EXITOSAMENTE</p>
                </section>
            </section>
        </section>
    </body>    
</div>
