<div class = "app-terminosycondiciones-container">
    <body>
        <div class="fondo">
            <div class="fondooscuro">
                <div class="terms-container">
                    <h1 class="title">Política de Términos y Condiciones de Uso</h1>
                    <div class="content-box">
                        <p>Este contrato describe los términos y condiciones generales aplicables al uso de los contenidos, productos y servicios ofrecidos a través del sitio</p>
                        <p> ……………………., de cual es titular …………………….</p>
                    <div class="maldiseño">--</div>
                        <h2>INFORMACIÓN RELEVANTE</h2>
                        <div class="maldiseño">--</div>
                        <p>
                            Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. 
                            El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento.
                            Todas los productos que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones.
                            En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
                          </p>
                        </div>    
                    <button class="accept-button" (click)="goToInicioSesion()">ACEPTAR Y CONTINUAR</button>
                  </div>
            </div>
        </div>
    </body>
</div>
