<div class = "permisoevento-container">
    <head>
        <header>
            <nav>
                <!-- Logotipo y nombre -->
                <div class="halloween"></div>
                <ul class="logo-nombre">
                    <span>ESPACIOS</span>
                    <span>BOLIVIA</span>
                </ul>
                <!-- Menú principal centrado -->
                <ul class="menu">
                    <li><a href="demostrations.html">INICIO</a></li>
                    <li><a href="demostrations.html">CALENDARIO</a></li>
                </ul>
                <!-- Inicio de sesión y botón a la derecha -->
                <div class="right-section">
                    <ul class="extra-menu">
                        <li><a href="demostrations.html">NOMBRE DE USUARIO</a></li>
                    </ul>
                    <div class="halloween"></div>
                </div>
            </nav>
        </header>
    </head>
    <body>
        <main>
            <div class="container">
                <section class="info">
                    <h1>Información sobre los Tipos de Eventos y sus Permisos</h1>
                    <embed src="/assets/reglamento.pdf" width="900" height="680" type="application/pdf">
                </section>
                <section class="button-container">
                    <a href="#" class="button">Volver a Reserva</a>
                </section>
            </div>
        </main>
    </body>           
</div>  

