<div class = "qreventos-container">
    <body>
        <header>
            <nav>
                <!-- Logotipo y nombre -->
                <div class="halloween"></div>
                <ul class="logo-nombre">
                    <span>ESPACIOS</span>
                    <span>BOLIVIA</span>
                </ul>
                <!-- Menú principal centrado -->
                <ul class="menu">
                    <li><a href="demostrations.html">INICIO</a></li>
                    <li><a href="demostrations.html">CALENDARIO</a></li>
                </ul>
                <!-- Inicio de sesión y botón a la derecha -->
                <div class="right-section">
                    <ul class="extra-menu">
                        <li><a href="demostrations.html">NOMBRE DE USUARIO</a></li>
                    </ul>
                    <div class="halloween"></div>
                </div>
            </nav>
        </header>
    
        <main class="contenido-central">
            <h1>PAGO PARA RESERVA</h1>
            <div class="cuadro-blanco"></div>
            <button class="boton-finalizar">FINALIZAR PAGO</button>
        </main>
    </body>
</div>
