<div clas="verEvento-container">
    <body>
        <div class="fondo">
          <div class="fondooscuro">
            <header>
              <nav>
                <!-- Logotipo y nombre -->
                <div class="halloween"></div>
                <ul class="logo-nombre">
                  <li><span>ESPACIOS</span></li>
                  <li><span>BOLIVIA</span></li>
                </ul>
                <!-- Menú principal centrado -->
                <ul class="menu">
                  <li><a href="/bienvenidopresidente">INICIO</a></li>
                  <li><a href="/calendario">CALENDARIO</a></li>
                  <li><a href="/mapa">MAPA</a></li>
                </ul>
              </nav>
            </header>
          </div>
      
          <div class="l2">
            <h1>Evento Completo :</h1>
          </div>
      
          <div class="formulario-container">
            <form id="event-form">
              <div class="form-grid">
                <div class="form-group">
                  <label for="event-name">Id del evento:</label>
                  <input type="text" id="event-name" placeholder="Escribe tu evento">
                </div>
                <div class="form-group">
                  <label for="event-name">Nombre de evento:</label>
                  <input type="text" id="event-name" placeholder="Escribe tu evento">
                </div>
                <div class="form-group">
                  <label for="event-type">Tipo del evento:</label>
                  <input type="text" id="event-type" placeholder="Escribe el tipo de evento">
                </div>
                <div class="form-group">
                  <label for="event-description">Descripción:</label>
                  <input type="text" id="event-description" placeholder="Escribe el num de documento">
                </div>
                <div class="form-group">
                  <label for="event-date">Fecha:</label>
                  <input type="text" id="event-date" placeholder="aaaa/mm/dd">
                </div>
                <div class="form-group">
                  <label for="user-name">Nombre de Usuario:</label>
                  <input type="text" id="user-name" placeholder="Cambiar dueño">
                </div>
                <div class="form-group">
                  <label for="event-location">Lugar del evento:</label>
                  <input type="text" id="event-location" placeholder="Recibir del mapa">
                </div>
                <div class="form-group">
                  <label for="number">Capacidad Personas:</label>
                  <input type="text" id="start-time" placeholder="Hora de inicio">
                </div>
                <div class="form-group">
                  <label for="start-time">Hora de inicio:</label>
                  <input type="text" id="start-time" placeholder="Hora de inicio">
                </div>
                <div class="form-group">
                  <label for="end-time">Hora Finalización:</label>
                  <input type="text" id="end-time" placeholder="Hora Final">
                </div>
                <div class="form-group">
                  <label for="event-cost">Monto del evento:</label>
                  <input type="text" id="event-cost" placeholder="Por defecto de la base">
                </div>
                <div class="form-group">
                  <label for="event-url">URL documentación:</label>
                  <input type="text" id="event-url" placeholder="Ingrese el URL de su documento">
                </div>
                <div class="form-group">
                  <label for="text">Tipo de Pago:</label>
                  <input type="text" id="event-url" placeholder="Ingrese el URL de su documento">
                </div>
              </div>
              <div class="form-buttons">
                <button type="submit">GUARDAR</button>
                <button type="button" id="delete-button">ELIMINAR</button>
                <button type="button">EDITAR</button>
              </div>
            </form>
          </div>
        </div>
      
        <script src="script.js"></script>
      </body>
      
</div>
