<div class = "pagoexitoso-container">
    <body>
        <div class="container">
            <div class="modal">
                <div class="header">
                    <button class="close-button">X</button>
                    <div class="header-bar"></div>
                </div>
                <div class="logo-container">
                    <img src="/assets/logofondoblanco.jpg" alt="Espacios Bolivia" class="logo">
                    <span class="logo-text">ESPACIOS BOLIVIA</span>
                </div>
                <div class="content">
                    <h2>EVENTO RESERVADO EXITOSAMENTE</h2>
                    <p>LA RESERVA DEL ESPACIO SE HIZO LLEGAR A UNO DE NUESTROS ADMINISTRADORES, LE COMUNICAREMOS CUANDO LA RESERVA SEA APROBADA.</p>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>    
</div>
